<%- include('header'); -%>
<div class="box" id ="heading">
  <h1><%=kindOfDate%>!</h1>
</div>
<div class="box">
  <% for(var i=0;i<list.length;i++){%>
    <form class="" action="/delete" method="post">
    <div class="item">


     <input type="checkbox" name="listName" value="<%=kindOfDate%>" onChange="this.form.submit()">
     <p><%= list[i].name %></p>
     </div>
     <input type="hidden" name="itemId" value="<%=list[i]._id%>">
    </form>


  <%}%>

  <form  action="/" method="post">
    <input type="text" name="item">
    <button type="submit" name="btn" value=<%=kindOfDate%>>+</button>
  </form>

</div>
<%- include('footer'); -%>
